#canvas {
    position: relative;
}


#draw-area {
    border: none;
}

#realCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#elementsContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}