.login {
    height: 100%;
    width: 100%;
    position: relative;
}

#bg {
    /* height: 100%; */
    width: 100%;
    /* background-color: blueviolet; */
    background-color: #CCCCCC;
}

#bg img {
    height: 100%;
    width: 100%;
}

#loginCard {
    height: 60%;
    width: 30%;
    max-width: 300px;
    min-width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    box-shadow: 1px 3px 10px #777777;
    padding: 20px 50px 50px 50px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 20% auto auto;
}