/* library page */
.library {
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 40% 60%;
}

/* list header */
.title {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    column-gap: 10px;
}

.title img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.titleText {
    width: fit-content;
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
    /* border-bottom: 4px solid #0F329C; */
    padding: 5px 0;
}

/* list item */
.design {
    cursor: pointer;
    transition: 0.5s;
}

.design:hover {
    background-color: #EEEEEE;
}

.filename {
    font-size: 14px;
    color: #444444;
    margin-left: 10px;
    font-family: 'SimHei';
}

.editTime {
    font-size: 14px;
    color: #999999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    margin-right: 10px;
}

/* list footer */
.listFooter {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

/* list loading */
.listLoading {
    min-height: 100px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 8px 8px;
}