#canvas {
    position: relative;
    // top: 5px;
    // left: 5px;
    // margin-left: 10px;
    // margin-top: 10px;

    #draw-area {
        border: 1px solid #000000;
    }

    #real-canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

    #_elements-container_ {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1024;
    }
}